[Desktop Entry]
Version=1.0
Type=Application
Name=Scripta
GenericName=Markdown Note Editor
Comment=Minimal, Markdown-First note-taking app
Exec=scripta %u
Icon=io.github.scripta.Scripta
Terminal=false
Categories=Office;Utility;TextEditor;
Keywords=Notes;Markdown;Editor;Writing;Minimal;
StartupNotify=true
MimeType=text/markdown;text/plain;
