[Desktop Entry]
Type=Application
Name=Scripta
GenericName=Note-taking App
Comment=Minimal, Markdown-first, highly customizable note-taking application
Exec=scripta %U
Icon=io.github.scripta.Scripta
Terminal=false
Categories=Office;TextEditor;Utility;
StartupNotify=true
StartupWMClass=scripta
